body {
    background: mediumvioletred;
    text-align: center;
}

h1 {
    font: 2em consolas;
}

p {
    font: 1em consolas;
}

#board table {
    width: 270px;
    height: 270px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: lavenderblush;
}

#board td {
    width: 90px;
    height: 90px;
    border: 1px solid grey;
}

.cell-1 {
    background: url("../img/clean-o.png") no-repeat;
    width: 100%;
    height: 100%;
}

.cell-2 {
    background: url("../img/clean-x.png") no-repeat;
    width: 100%;
    height: 100%;
}

.winMove-1 {
    background: url(../img/win1.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-2 {
    background: url(../img/win2.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-3 {
    background: url(../img/win3.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-4 {
    background: url(../img/win4.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-5 {
    background: url(../img/win5.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-6 {
    background: url(../img/win6.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-7 {
    background: url(../img/win7.png) no-repeat;
    position: relative;
    z-index: 2;
}

.winMove-8 {
    background: url(../img/win8.png) no-repeat;
    position: relative;
    z-index: 2;
}